.container {
  min-width: 280px;
  max-width: 400px;
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  margin: 50px auto;
}

.container img {
  width: 100%;
  border-radius: 15px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
